@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&family=Raleway:wght@300;500&display=swap');

* {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.main-header {
  text-align: center;
  text-shadow: #808080 2px 2px;
}

body {
    background-color: rgba(25, 28, 39);
}

.league-members-container {
    /* margin-top: -28rem; */
    color: white;
    font-size: 18px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px auto 20px;
}

.league-members-container > div {
  margin: 5px;
}

.player-container {
  border: 3px solid white;
  width: 13rem;
  padding:25px;
}

#avatar0, #avatar1, #avatar2, #avatar3, #avatar4, #avatar5, #avatar6, #avatar7, #avatar8, #avatar9 {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.draft-container {
    /* display: flex;
    justify-content: space-evenly; */
    font-size: 25px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 12%;
    height: 5%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    text-align: center;
    font-size: 1rem;
    display: none;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }

.starters-list0 > li, .starters-list1 > li, .starters-list2 > li, .starters-list3 > li, .starters-list4 > li, .starters-list5 > li, .starters-list6 > li, .starters-list7 > li, .starters-list8 > li, .starters-list9 > li {
      color:#fff;
      /* display: none; */
  }

.player-movement {
  display: flex;
  justify-content: space-around;
}

.trending-up-container {
  justify-content: flex-end;
  margin-right: 7rem;
  text-align: left;
}

.trending-down-container {
  /* float: right; */
  margin-right: 2rem;
  text-align: left;
}

.trending-up, .trending-down {
  color: white;
  list-style: none;
  font-size: 20px;
}

.transaction-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 7rem;
  text-align: left;
}

.transaction-header {
  display: flex;
  justify-content: flex-start;
  margin-left: 4rem;
}

.dropped {
  justify-content: flex-end;
  text-align: left;
}

.added, .dropped {
  color: white;
  list-style: none;
  font-size: 20px;
  margin-left: -4.5rem;
}

.added {
  margin-right: 4rem;
}

.comment-box {
  width: 35%;
  color: black;
}

.comment-button {
  color: black;
}


