* {
    color: white;
}

.main-header {
  text-align: center;
  text-shadow: #808080 2px 2px;
}

body {
    background-color: navy;
}

.test {
    /* display: flex; */
    color: white;
    font-size: 18px;
    font-family: 'futura';
}

#avatar0, #avatar1, #avatar2, #avatar3, #avatar4, #avatar5, #avatar6, #avatar7, #avatar8, #avatar9 {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.draft-container {
    /* display: flex;
    justify-content: space-evenly; */
    font-size: 25px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 12%;
    height: 5%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    text-align: center;
    font-size: 1rem;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    width: 40%;
  }

.starters-list0 > li, .starters-list1 > li, .starters-list2 > li, .starters-list3 > li, .starters-list4 > li, .starters-list5 > li, .starters-list6 > li, .starters-list7 > li, .starters-list8 > li, .starters-list9 > li {
      color:#444;
  }

.trending-players {
  color: white;
}

